<p id="notice"><%= notice %></p>

<h1>Articles</h1>


<%#= cl_image_tag "ivxsyhtlmtxgcngxkguf", width: 400, height: 300, crop: :fill %>

<%#= cl_image_tag "w4qgca2lz1uord6kty46", width: 150, height: 150, crop: :thumb, gravity: :face %>




<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <td><%= article.upvotes %>
          <a href="#"
            data-reflex="click->ArticleReflex#upvote"
            data-article="<%= article.id %>">
            Increment
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
